@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.eot");
  src: url("../fonts/Georgia.eot#iefix") format("embedded-opentype"),
  url("../fonts/Georgia.woff") format("woff"),
  url("../fonts/Georgia.ttf") format("truetype"),
  url("../fonts/Georgia.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("../fonts/flaticon.woff") format("woff"),
  url("../fonts/flaticon.ttf") format("truetype"),
  url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, 
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after, 
[class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}
.flaticon-01search:before { content: "\f100"; }
.flaticon-02arrows:before { content: "\f101"; }
.flaticon-03wishlist:before { content: "\f102"; }
.flaticon-04shopcart:before { content: "\f103"; }
.flaticon-05menu:before { content: "\f104"; }
.flaticon-06accessories:before { content: "\f105"; }
.flaticon-07furniture:before { content: "\f106"; }
.flaticon-08women-shoes:before { content: "\f107"; }
.flaticon-09handbag:before { content: "\f108"; }
.flaticon-10watch:before { content: "\f109"; }
.flaticon-11sport-shoes:before { content: "\f10a"; }
.flaticon-12clothes:before { content: "\f10b"; }
.flaticon-13male-telemarketer:before { content: "\f10c"; }
.flaticon-14credit-card-security:before { content: "\f10d"; }
.flaticon-15return-of-investment:before { content: "\f10e"; }
.flaticon-16transport:before { content: "\f10f"; }
.flaticon-17grid:before { content: "\f110"; }
.flaticon-18list:before { content: "\f111"; }
.flaticon-19grid:before { content: "\f112"; }
.flaticon-20shirt:before { content: "\f113"; }
.flaticon-21sunglass:before { content: "\f114"; }
.flaticon-22shoes:before { content: "\f115"; }
.flaticon-23book:before { content: "\f116"; }
.flaticon-24accessories:before { content: "\f117"; }
.flaticon-25bag:before { content: "\f118"; }
.flaticon-26check:before { content: "\f119"; }
.flaticon-27arrows:before { content: "\f11a"; }
.flaticon-28bag:before { content: "\f11b"; }


